# Spark SQL DataFrame

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [4]:
spark

In [5]:
df = spark.read.json('personas.json')

In [6]:
df.show()

+----+------+
|edad|nombre|
+----+------+
|null|Miguel|
|  25|Carlos|
|  19|  Juan|
+----+------+

In [7]:
df.printSchema()

root
 |-- edad: long (nullable = true)
 |-- nombre: string (nullable = true)

In [8]:
df.columns

['edad', 'nombre']

In [10]:
df.describe().show()

+-------+-----------------+------+
|summary|             edad|nombre|
+-------+-----------------+------+
|  count|                2|     3|
|   mean|             22.0|  null|
| stddev|4.242640687119285|  null|
|    min|               19|Carlos|
|    max|               25|Miguel|
+-------+-----------------+------+

# Schema

In [11]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType

In [13]:
schema = [StructField('edad', IntegerType(), True),
          StructField('nombre', StringType(), True)]

In [15]:
print(schema)

[StructField(edad,IntegerType,true), StructField(nombre,StringType,true)]

In [17]:
schema_final = StructType(fields=schema)

In [18]:
df2 = spark.read.json('personas.json', schema_final)

In [19]:
df2.printSchema()

root
 |-- edad: integer (nullable = true)
 |-- nombre: string (nullable = true)

In [20]:
df2.show()

+----+------+
|edad|nombre|
+----+------+
|null|Miguel|
|  25|Carlos|
|  19|  Juan|
+----+------+

# Select

In [21]:
df2['edad']

Column<b'edad'>

In [22]:
type(df2['edad'])

pyspark.sql.column.Column

In [24]:
df2.select('edad').show()

+----+
|edad|
+----+
|null|
|  25|
|  19|
+----+

In [25]:
type(df2.select('edad'))

pyspark.sql.dataframe.DataFrame

In [27]:
df2.head(2)[0]

Row(edad=None, nombre='Miguel')

In [28]:
type(df2.head(2)[0])

pyspark.sql.types.Row

In [29]:
df2.select(['edad', 'nombre']).show()

+----+------+
|edad|nombre|
+----+------+
|null|Miguel|
|  25|Carlos|
|  19|  Juan|
+----+------+

# Crear columna nueva con withColumn()

In [31]:
df.withColumn('edad_nueva', df['edad']*2).show()

+----+------+----------+
|edad|nombre|edad_nueva|
+----+------+----------+
|null|Miguel|      null|
|  25|Carlos|        50|
|  19|  Juan|        38|
+----+------+----------+

In [32]:
df.withColumnRenamed('edad', 'edad_nueva').show() #cambia el nombre de la columna

+----------+------+
|edad_nueva|nombre|
+----------+------+
|      null|Miguel|
|        25|Carlos|
|        19|  Juan|
+----------+------+

# Utilizar el lenguaje SLQ para crear una consulta

In [37]:
df.createOrReplaceTempView('personas')

In [39]:
query = spark.sql("select * from personas")

In [40]:
query.show()

+----+------+
|edad|nombre|
+----+------+
|null|Miguel|
|  25|Carlos|
|  19|  Juan|
+----+------+

In [41]:
type(query)

pyspark.sql.dataframe.DataFrame

In [42]:
mayor_veinte = spark.sql("select * from personas where edad > 20")
mayor_veinte.show()

+----+------+
|edad|nombre|
+----+------+
|  25|Carlos|
+----+------+

In [43]:
menor_veinte = spark.sql("select * from personas where edad < 20")
menor_veinte.show()

+----+------+
|edad|nombre|
+----+------+
|  19|  Juan|
+----+------+